*
{
  font-family: 'Amatic SC', cursive;
}

.bg-inverse {
  background-color: rgba(0,0,0,0.4) !important;
}

body
{
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
}

/*MENU*/



.navbar {
  position: absolute;
  width: 100%;
  font-size: 25px;
  line-height: 1;
  z-index: 1;
}

.navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.navbar-brand
{
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}

/*FIM MENU*/

/*HOME*/
.home-content {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  top: 180px;
  z-index: 1;
}

.home-content-mobile {
  position: absolute;
  width: 50%;
  margin-left: 25%;
  top: 110px;
  z-index: 1;
}

.video-home {
  background-color: rgba(0,0,0,0.4);
  height: 100vh;
}

#video-bg {
  position: absolute;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

#short {
  width: 100px;
  background-color: white;
}

.text-title
{
  font-size: 5em;
}

.text-subtitle
{
  font-size: 50px;
  padding-bottom: 3vh;
}

.button-inscricao a
{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  border: 1px white solid;
  padding: 5px;
  
}

.button-inscricao a:hover {
  color: #aaa;
  border: 1px solid #aaa;
  cursor: pointer;
  transition: background-color .5s, color .5s;
}

.button-desk
{
  padding-top: 150px;
}

.title-mob
{
  font-size: 40px;
}

.subtitle-mob
{
  font-size: 30px;
}


/*FIM HOME*/


/*CONTAINER*/

.container
{
  width: 100%;
}

.img-fluid
{
  max-width: 100%;
  height: auto;
  padding: 0;
  margin-right: 0px;
}


.div-img {
  padding: 0;
}

.div-img-right {
  padding: 0;
  padding-right: 0px;
}

.div-txt
{
  font-size: 22px;
  padding: 4%;
  color: #000;
}


/*FIM CONTAINER*/




.footer-txt-title
{
  color: black;
  font-size: 30px;
  max-width: 100%;
  height: auto;
  padding-top: 2%;
}

.footer-txt-subtitle
{
  color: black;
  font-size: 25px;
  max-width: 100%;
  height: auto;
  padding: 1%;
}

.footer-txt-small
{
  color: black;
  font-size: 20px;
  max-width: 100%;
  height: auto;
  padding: 1%;
}

.logo
{
  max-width: 30px;
  max-height: 30px;
}

.space-bottom
{
  padding-bottom: 3%;
}

.space-top
{
  padding-top: 2%;
}

.wid
{
  max-width: 100%;
}

.hr-color
{
  background-color: #aaa;
  width: 80%;
}

.bord
{
  padding-left: 0px;
}

